<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wcbn.android"
    android:versionCode="5"
    android:versionName="5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_menu_logo"
        android:label="@string/app_name"
        android:theme="@style/WCBNTheme.AppTheme" >
        <activity
            android:name="org.wcbn.android.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="org.wcbn.android.SettingsActivity"
                android:label="@string/action_settings"
                android:parentActivityName="org.wcbn.android.MainActivity"
                >
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.wcbn.android.MainActivity" />
                </activity>
        <service
                android:name="org.wcbn.android.StreamService"
                android:label="@string/app_name" >
        </service>
    </application>

</manifest>
